<ion-header>
  <ion-toolbar>
    <ion-title>Emergencia Duoc Uc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterContacts($event)"
      placeholder="Buscar contacto"
      mode="ios"
      class="custom-searchbar"
      animated="true">
    </ion-searchbar>
  </div>

  <div class="contacts-container">
    <div class="contact-list">
      <div *ngFor="let contact of filteredContacts" 
           class="contact-item"
           (click)="callNumber(contact.phone)">
        <div class="contact-icon">
          <ion-icon name="call"></ion-icon>
        </div>
        <div class="contact-info">
          <h3>{{ contact.name }}</h3>
          <p>{{ contact.phone }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón flotante para agregar contactos -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAddContactModal()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
