<ion-header>
  <ion-toolbar>
    <ion-title>Panel de Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h1>Centro de Control de Seguridad</h1>
  </div>

  <div class="security-container">
    <ion-button expand="block">
      <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
      Abrir Chat
    </ion-button>

    <ion-button expand="block">
      <ion-icon name="warning-outline" slot="start"></ion-icon>
      Ver Emergencias
    </ion-button>

    <ion-button expand="block">
      <ion-icon name="map-outline" slot="start"></ion-icon>
      Ver Mapa en Tiempo Real
    </ion-button>
  </div>
</ion-content>