<ion-header>
  <ion-toolbar>
    <ion-title>Emergencia DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h1>Presiona el botón si necesitas ayuda</h1>
  </div>

  <div class="sos-container">
    <button class="sos-button" (click)="mostrarAlerta()">
      <div class="sos-circle">
        <span>SOS</span>
      </div>
    </button>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button selected>
        <ion-icon name="alert-circle"></ion-icon>
        <ion-label>SOS</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="navigateToChat()">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigateToMap()">
        <ion-icon name="location"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigateToContacts()">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>