<ion-content class="auth-content" *ngIf="!isLoggedIn">
  <div class="login-container">
    <div class="logo-container">
      <ion-icon name="shield-outline" class="logo-icon"></ion-icon>
      <h1>Emergencia Duoc Uc</h1>
    </div>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="input-container">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input 
            type="email" 
            [(ngModel)]="loginData.email" 
            name="email" 
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input 
            type="password" 
            [(ngModel)]="loginData.password" 
            name="password" 
            required>
          </ion-input>
        </ion-item>
      </div>

      <ion-button 
        expand="block" 
        type="submit" 
        class="login-button" 
        [disabled]="!loginForm.valid">
        Iniciar Sesión
      </ion-button>

      <div class="additional-options">
        <ion-button fill="clear" size="small">
          ¿Olvidaste tu contraseña?
        </ion-button>
        <ion-button fill="clear" size="small">
          Registrarse
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>

<!-- Los tabs existentes solo se mostrarán cuando isLoggedIn sea true -->
<ion-tabs *ngIf="isLoggedIn">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="boton-sos">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>BotonSos</ion-label> 
    </ion-tab-button>

    <ion-tab-button tab="comunicacion">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="localizacion">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Localizacion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>