<ion-header>
  <ion-toolbar>
    <ion-title>Emergencia Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="emergency-container">
    <ion-button expand="full" color="danger">
      Botón SOS
    </ion-button>

    <!-- Cambiar la ruta de chat -->
    <ion-button expand="full" color="primary" [routerLink]="['/user-chat']">
      Chat
    </ion-button>

    <ion-button expand="full" color="secondary">
      Contacto Principal
    </ion-button>

    <ion-button expand="full" color="tertiary">
      Contacto Duoc
    </ion-button>
  </div>
</ion-content>
